<%- include('partials/header') -%>

  <div class="tm-home-img-container">
    <img src="img/tm-about-img.jpg" alt="Image" class=" img-fluid">
  </div>

  <h1>About</h1>
  
  <p style="text-align: justify;"> <%= c2 %></p>
<%- include('partials/footer') -%>
