<%- include('partials/header') -%>
<div class="tm-home-img-container">
  <img src="img/tm-contact-img.jpg" alt="Image" class=" img-fluid">
</div>


<h1>Contact</h1>

<p> <%= c3 %></p>
<%- include('partials/footer') -%>
