<%- include('partials/header') -%>

  <h1 style="text-align: justify;"> <%= title.toUpperCase() %> </h1>

  <p style="text-align: justify; line-height: 1.5;">
    <%= content %>
  </p>

<%- include('partials/footer') -%>
